@page "/"
@using Radzen.Blazor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<RadzenButton Click="teste">click</RadzenButton>

@code {

    private void teste()
    {
    }
}
